AUTH_JWT_KEY=REEMPLAZAR_CON_UNA_LLAVE_LOCAL_DE_AL_MENOS_32_CARACTERES
BOOTSTRAP_ADMIN_ENABLED=false
BOOTSTRAP_ADMIN_USERNAME=admin
BOOTSTRAP_ADMIN_EMAIL=admin@example.com
BOOTSTRAP_ADMIN_PASSWORD=REEMPLAZAR
